body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    width: auto;
    background-image: url('https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    animation: animatedBackground 10s;
}

@keyframes animatedBackground {
    from {
        background-size: cover;
        background-position: 90% 22%;
    }
    to {
        background-size: cover;
        background-position: 0% 22%;
    }
}

header {
    width: 102%;
    background-color: rgba(51, 51, 51, 0.96);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header img {
    padding-right: 20px;
    height: 60px;
    width: 80px;
}

h1 {
    font-size: 3rem;
    margin: 0 10px 0 0 ;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    justify-content: center;
    display: flex;
}

nav li {
    margin-right: 10px;
}

nav a {
    font-size: medium;
    margin-left: 4px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}

p {
    margin: 0 15px 0 15px;
}




.content {
    display: grid;
    justify-content: space-between;
}

.row {
    justify-content: center;
    border-top-color: rgba(42,42,42,0.53);
    border-top-style: dotted;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.47);
}

.row p {
    padding: 10px;
}




.offers_container {
    justify-content: space-between;
    padding: 20px;
}

h3, h2 {
    text-align: center;
    margin: 0;
}

.offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.image {
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 7px 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.51);
}

.image img {
    width: 100%;
    height: 230px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.image p {
    text-align: center;
}

.image:hover img {
    transform: scale(1.05);
}

h5 {
    background-color: rgba(255, 255, 255, 0.51);
}




footer {
    width: 102%;
    background-color: rgba(51, 51, 51, 0.96);
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h6 {
    margin: 0;
}

.footer-column {
    display: grid;
    margin-right: 20px;
    padding: 10px;
}

.footer-column:last-child {
    margin-right: 0;
}

.footer-column h6 {
    font-weight: bold;
}

ul {
    margin: 10px;
    padding: 0 0 0 20px;
}

.footer-column ul {
    list-style-type: none;
    margin-left: 15px;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-column a {
    color: white;
    text-decoration: none;
}

.footer-column a i {
    margin-right: 5px;
    transition: transform 0.3s;
}

.footer-column a:hover i {
    transform: scale(1.2);
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header img {
        height: 40px;
        width: 45px;
        padding: 0 10px 0  0;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    nav ul {
        padding-left: 0;
        justify-content: center;
    }

    nav li {
        margin-right: 10px;
    }

    .offers_container {
        padding: 10px;
    }

    .image {
        width: 100%;
        margin: 10px 20px 10px 20px;
    }

    .image img {
        height: auto;
    }

    a, li {
        font-size: 13px;
    }
}



