body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    animation: animatedBackground 10s;
}

.content {
    min-height: 500px;
}

@keyframes animatedBackground {
    from {
        background-size: cover;
        background-position: 90% 22%;
    }
    to {
        background-size: cover;
        background-position: 0 22%;
    }
}

header {
    background-color: rgba(51, 51, 51, 0.96);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header img {
    padding-right: 20px;
    height: 60px;
    width: 80px;
}

h1 {
    font-size: 3rem;
    margin: 0 10px 0 0 ;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    padding-right: 10px;
    justify-content: center;
    display: flex;
}

nav li {
    margin-right: 10px;
}

nav a {
    font-size: medium;
    margin-left: 4px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}

p {
    margin: 0 15px 0 15px;
}




.row.main{
    width: 100%;
}

h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

h4 {
    margin: 5px 0 0 0;
    padding-left: 5px;
    background-color: rgba(255, 233, 143, 0.53);
}

.col-md-6.offset-md-3 {
    margin-left: 13%;
}

.mt-5, .my-5 {
    margin-bottom: 3rem!important;
}

.main_contacts li {
    margin: 10px 0;
}

.main_contacts a {
    margin-left: 30%!important;
    color: #212529!important;
}

.main_contacts i {
    margin-right: 8px;
}

.error-message {
    color: red;
}

tbody th {
    font-size: 0.75rem;
}

tbody .btn {
    font-size: 0.75rem;
    line-height: 1;
}

.table-responsive {
    margin-bottom: 10px;
}

footer {
    display: flex;
    padding-top: 10px;
    background-color: rgba(51, 51, 51, 0.96);
    color: white;
    justify-content: center;
}

h6 {
    font-weight: bold;
    margin: 0;
}

.row {
    width: 95%;
    justify-content: center;
    padding: 0;
}

.row p {
    padding: 10px;
}


.col-sm a{
    color: #ffffff;
    text-decoration: none;
}

.col-sm a:hover i {
    transition: transform 0.3s;
    transform: scale(1.2);
}

.col-sm ul {
    color: #ffffff;
    list-style: none;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header img {
        height: 40px;
        width: 45px;
        padding: 0 10px 0  0;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    nav ul {
        padding-left: 0;
        justify-content: center;
    }

    nav li {
        margin-right: 10px;
    }

    a, li {
        font-size: 13px;
    }

    h6 a {
        font-size: 1rem;
    }

    .col-sm {
        width: 90%;
        padding-bottom: 10px;
    }

    .col-md-6.offset-md-3 {
        margin-left: 45px;
    }

    .col-lg-6 {
        margin-left: 13%;
    }

    .main_contacts a {
        margin-left: 10%!important;
    }
}